 *{margin: 0; padding: 0;}
 
 body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    background-color: #121212; /* Dark background for the whole page */
    color: #E0E0E0;

}


header{

    border: 0.2px solid gray;
}

main{

    border: 0.2px solid gray;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.2px solid gray;

}

ul{
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    

}

.logo{

    
    grid-column: 1 / 2; /* Starts at the first column, ends at the second column */
    grid-row: 1 / 4; /* Spans from the first row to the third row */

    
}

.logo-img{
    height:8em ;

}


nav ul li{

}

li>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
}

li>a:hover{
    color:#4CAF50;
}

main{

}

.SA_description_sec{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  
}




.country_description_sec{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content:flex-start;

  
}

.SA_description_sec:nth-child(2){
    margin: 20px;
}
.country_description_sec>div{
    margin: 20px;
}

p{
    line-height: 1.3em;

}

h1{
    font-size: 1.5em;
    padding-left: 1em;
    padding-top: 1em;
}


.images_flex{
    display: flex;
    flex-wrap:wrap;
}

.images_flex>img{
    margin: 1em auto;
}

.country_images{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}

.country_images>img{
    width: 450px;
    height:275px;
    padding: 15px;
}

img{
}